[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
yfinance = ">=0.1.63"
fbprophet = "*"
plotly = "*"
pystan = "==2.19.1.1"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"

[scripts]
start = "streamlit run main.py"
lint = "pylint ./utils main.py"
