[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
yfinance = "*"
fbprophet = "*"
plotly = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"

[scripts]
start = "streamlit run main.py"
lint = "pylint ./utils main.py"
